body {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

table.data, th, td {
	border: 1px solid;
}

.enigme-form * {
	width: 100%;
}

.img-table {
	width: 100px;
	height: 100px;
}

.img-enigme {
	max-width: 100%;
}
/* 
.result-box {
	width: 20%;
} */

.correct {
	background-color: green;
}

.incorrect {
	background-color: red;
}