body {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

table.data, th, td {
	border: 1px solid;
}

img {
	width: 100px;
	height: 100px;
}

.result-box {
	width: 20%;
}

.correct {
	background-color: green;
}

.incorrect {
	background-color: red;
}