<html>
	<head>
		<title>
			{{ name }}
		</title>
		<script src="/assets/js/htmx.min.js"></script>
		<link rel="stylesheet" href="/assets/styles/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<!-- <h1>{{name}}</h1> -->
		<form class="enigme-form"
			hx-post="{{id}}/answer"
			hx-target=".result-box"
			hx-swap="innerHTML"
			enctype="multipart/form-data">

			<label for="resp">{{question}}</label><br>
			{% if image %}
			<img class="img-enigme" src="/data/images/enigme_{{id}}" alt="énigme" /><br>
			{% endif %}
			<br>
			<input type="{{input_type}}" name="resp"><br>
			<input type="submit" value="GO">
			<div
				class="result-box"
				hx-get="{{id}}/status"
				hx-trigger="load"
				hx-swap="innerHTML"
				></div>
		</form>
	</body>
</html>