<html>
	<head>
		<title>
			{{ name }}
		</title>
		<script src="/assets/js/htmx.min.js"></script>
		<link rel="stylesheet" href="/assets/styles/style.css"/>
	</head>
	<body>
		<h1>{{name}}</h1>
		<form
			hx-post="{{name}}/answer"
			hx-target=".result-box"
			hx-swap="innerHTML"
			enctype="multipart/form-data">

			<label for="resp">{{question}}</label><br>
			{% if image %}
			<img src="/data/images/enigme_{{name}}.png" alt="énigme"><br>
			{% endif %}
			<input type="{{input_type}}" name="resp"><br>
			<input type="submit" value="GO">
		</form>
		<div
			class="result-box"
			hx-get="{{name}}/status"
			hx-trigger="load"
			hx-swap="innerHTML"
			></div>
	</body>
</html>